<div class="card">
  <div class='card-header'>
    <%= sanitize @publication.title%>
    <div class='card-options'>
      <a href="/publications/<%=@publication.uuid%>/edit" class='btn btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
    </div>
  </div>
  <div class='card-body'>
    <div id="post" class="img-flex">
      <%= sanitize @publication.content%>
    </div>
  </div>
</div>
