<div class="row row-cards row-deck">
  <% for stream in @streams%>
  <div class="col-sm-4 col-xl-3">
    <%= render partial: 'streams/stream_block', locals: {stream: stream}%>
  </div>
  <%end%>
</div>
