<div class='row'>
  <div class="col-lg-4 ">
    <%= render partial: 'streams/stream_block', locals: {stream: @stream}%>
  </div>
  <div class="col-lg-8 order-lg-1">

    <div class="card">
      <div class="stream-header">
        <a href="/posts/new?stream_id=<%= @stream.id%>"><span class="avatar avatar-blue"><i class="fe fe-edit"></i></span></a>
        <a href="/questions/new?stream_id=<%= @stream.id%>"><span class="avatar avatar-orange"><i class="fa fa-question"></i></span></a>
      </div>
    </div>
    <% for share in Share.where(stream_id: @stream.id) %>
    <%= render partial:'/shares/share_block', locals: {item: share.shareable}%>
    <% end %>
  </div>
</div>
