<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%=t :notification_settings%>
      </div>
      <div class="card-body">
        <div class='table-responsive'>
          <table class="table table-hover table-outline table-vcenter text-nowrap">
            <%= %>
          <tbody>
            <% for cl in NotificationSetting.column_names%>
            <% if cl != 'id' && cl != 'user_id' && cl != 'created_at' && cl != 'updated_at'%>
            <tr>
              <td class="col-3"><%=t cl%></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
