@font-face {
    font-family: 'iransans';
    src: asset-url('IRANSansWeb.eot');
    src: asset-url('IRANSansWeb.eot') format('embedded-opentype'),
         asset-url('IRANSansWeb.woff') format('woff'),
         asset-url('IRANSansWeb.ttf') format('truetype');
}
