.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.comapct-form {
  margin-bottom: 5px;
  padding: 5px;
  height: 30px !important;
  line-height: 1;
  font-size: 0.875rem !important;
}

.match {
  font-weight: 600;
}

.c3 svg {
  font-family: yekan !important;
}

.c3-axis-x text
{
  font-size: 7px;
}


.cd {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.cd--content {
  min-width: 300px;
  margin: 5px;
}

.cd--content img {
  width: 100%;
  height: 100%;
}

.card-inner {
min-height: 40px;
padding: 10px;

margin-right: -24px;
margin-left: -24px;
margin-bottom: 10px;
background-color: #f3f2f0;
}

.card-clickable {
position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}

#modal {
  position: absolute;
  background: black;
  width: 300px;
  height: 300px;
  display: none;
}

.preview-container {
  top: 100px;
  left: 80px;
  width: 150px;
  height: auto;
  /* use auto here so it doesnt distort the aspect ratio of the image */
  background-color: #2185C5;
  position: relative;
}

#previewSub {
  width: 150px;
  height: auto;
  /* use auto here so it doesnt distort the aspect ratio of the image */
}

#abutton {
  position: absolute;
  background: red;
  top: 350px;
}

.strong {
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}

#trix-content img {
  display: flex;
}

.img-flex img {
  display: flex;
}

.blogShort{ border-bottom:1px solid #ddd;}

.justify {
  text-align: justify !important;
}

.stream-header {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.roundrect {
  .up { border-radius: 1rem 1rem 0 0; }
  .down { border-radius: 0 0 1rem 1rem; }
  .count { border-radius: .5rem .5rem; }
}
.chev {
  .up { border-radius: 50% 50% 0 0; }
  .down { border-radius: 0 0 50% 50%; }
  .count { border-radius: 100%/50%; }
}

.circle {
  .up { border-radius: 4rem 4rem 0 0; }
  .down { border-radius: 0 0 4rem 4rem; }
  .count { border-radius: 50%; }
}

.vote {
  display: flex;
  flex-direction: column;
  font-family: iransans;
  position: relative;
  width: 4rem;
  height: 4rem;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: .3s;
  cursor: pointer;

  &.up {
    background: #4BC35F;
    height: 50%;
    margin-bottom: .25rem/2;
  }
  &.down {
    background: #C15044;
    height: 50%;
  }

  &:hover {
    opacity: 1;
  }
}

.count {
  position: absolute;
  top: 0;
  border-radius: 0.5rem*.1;
  margin: 4rem*.25;
  background: #F6F3E4;
  width: 4rem*.5;
  font-size: 4rem*.25;
  font-weight: bold;
  line-height: 4rem*.5;
  text-align: center;
  box-shadow: 0 0 0 .25rem #F6F3E4;
  pointer-events: none;

  &.upvoted { color: #4BC35F; }
  &.downvoted { color: #C15044; }
}

.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}
